{% extends 'base.html' %}

{% block title %}Página de hello{% endblock %}

{% block content %}
    {% if data.name == none and data.age == none: %}
        <h1>Hola Mundo!</h1>
    {% elif data.age == none %}
        <h1>Hola, {{data.name}}</h1>
    {% elif data.email == none %}
        <h1>Hola, {{data.name}} el doble de tu edad es {{data.age * 2}}</h1>
    {% else %}
        <h2>Mis datos:</h2>
        <ul>
            <li>{{data.name}}</li>
            <li>{{data.age}}</li>
            <li>{{data.email}}</li>
        </ul>
    {% endif %}
{% endblock %}